<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Page</title>
    <link rel="stylesheet" href="/css/home/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the Task Page</h1>
    </header>
    <main>
        <div class="task-container">
            <div class="task-item">
                <a href="/task1"><button class="task-button">Task1</button></a>
                <p class="task-desc">Click this to convert youtube videos to mp3 audio that will be stored at server side. You can also download those converted mp3 files on clicking download button</p>
            </div>
            <div class="task-item">
                <a href="/task2"><button class="task-button">Task2</button></a>
                <p class="task-desc">Click this to get mp4</p>
            </div>
            </div>
    </main>
    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
</body>
</html>